### Build and Artifacts ###
target/
build/
bin/
out/

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE and Editor Settings ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

### OS and Logs ###
*.log
.DS_Store
Thumbs.db

### Spring Profiles (Segredos locais) ###
application-local.yml
.env
